
<div class="container" style="height: auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">dni</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Calificación</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let alumno of alumnos">
        <td >{{alumno.nombre | uppercase}}</td>
        <td>{{alumno.apellido | uppercase}}</td>
        <td>{{alumno.dni}}</td>
        <td>{{alumno.edad}}</td>
        <td>{{alumno.fechaIngreso | date }}</td>
<!--         <td [ngStyle]= "{backgroundColor : alumno.calificacion === true ? 'green' : 'red' }">
          {{alumno.calificacion}}
        </td> -->
        <td [ngClass]="alumno.calificacion ? 'aprobado' :'desaprobado'" calificacionPipe>
          <p *ngIf="aprobado;else noEstaAprobado">
            Aprobado
          </p>
          <ng-template #noEstaAprobado>
          <p>Desaprobado</p>
          </ng-template>

        </td>
      </tr>
    </tbody>
  </table>


