
<div class="container" style="height: auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">dni</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Calificación</th>
        <th scope="col">Sexo</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let alumno of alumnos">
        <td >{{alumno.nombre | uppercase}}</td>
        <td>{{alumno.apellido | uppercase}}</td>
        <td>{{alumno.dni}}</td>
        <td ResaltarPipe>{{alumno.edad}} Años</td>
        <td>{{alumno.fechaIngreso | date }}</td>
<!--         <td [ngStyle]= "{backgroundColor : alumno.calificacion === true ? 'green' : 'red' }">
          {{alumno.calificacion}}
        </td> -->
        <td  [ngClass]="alumno.calificacion ? 'aprobado' :'desaprobado'"
        >
        <p *ngIf="alumno.calificacion; else noEstaAprobado">Aprobado</p>
        <ng-template #noEstaAprobado >
        <p>Desaprobado</p>
        </ng-template>
        </td>
        <td [ngSwitch]="alumno.sexo"
        >
        <p *ngSwitchCase="'F'">Femenino</p>
        <p *ngSwitchCase="'M'">Masculino</p>
        <p *ngSwitchCase="'O'">No binario</p>
        <p *ngSwitchCase="'S'">Sin Genero informado</p>
      </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="mostrarMensaje">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi vero, soluta earum ad aperiam quam provident nisi unde aspernatur odit perspiciatis voluptas deleniti repudiandae! Adipisci pariatur ex tempore alias veniam.</p>
  </div>


<!--   COnsulta: Esto no funciona, como podría hacer un ngIf con datos dinamicos del ngFor? ME gustaría
                  Hacer lo mismo pero con el ngSwitch
  <div >
    <p *ngIf="{{alumno.calificacion}}, else noEstaAprobado">Estas aprobado!!.</p>
    <ng-template #noEstaAprobado>
      <p >Será la Proxima</p>
    </ng-template>
  </div> -->
